  /*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  --main-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --background-color: #000028;
  --rec-color: var(--title-shadow);
  --hover-border: 1px solid var(--title-shadow);
}
